@font-face {
  font-family: economica-bold;
  src: url(./fonts/Economica-Bold.ttf)
}

@font-face {
  font-family: raleway-regular;
  src: url(./fonts/Raleway-Regular.ttf)
}

@font-face {
  font-family: raleway-bold;
  src: url(./fonts/Raleway-Bold.ttf)
}

body{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.sub-main{
    font-family: 'Raleway-regular';
    font-size: 24px;
    margin-bottom: 100px;
}

.main{
    font-family: 'Raleway-bold';
    font-weight: 700;
    font-size: 96px;
    margin: 0;
}

h2{
    font-family: 'Raleway-bold';
    font-weight: 700;
    font-size: 80px;
    color: #9F0908;
    text-align: center;
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: url(./1_header/hero_bg.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    max-width: 100%;
    text-align: center;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    font-family: 'Raleway-regular';
    font-size: 24px;
}

.flower{
    width: 64px;
    height: 64px;
}

.navigation{
    position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	right: 0;
	top: 0;
	left: 0;
    height: 100px;
    font-family: Raleway regular;
	font-size: 24px;
    color: white;
    padding-left: 20px;
    margin-left: 160px;
    margin-right: 160px;
}

.setting-link{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.setting-link:hover{
    color: #9F0908;
    text-decoration: underline;
}

.phone-btn{
    border: solid 2px;
    border-radius: 10px;
    background-color: #9F0908;
    color: white;
    padding: 8px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone-btn:hover{
    background-color: #cf0a0a;
}

.phone{
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-to-order{
    max-width: 100%;
}

.img-placing-hto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hto-txt{
    margin-top: 120px;
    margin-bottom: 64px;
}

.hto-pics{
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    right: 0;
	top: 0;
	left: 0px;
    height: 120px;
    margin-top: 164px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 120px;
}

.order-section-txt{
    font-family: 'Economica-bold';
    font-weight: 700;
    font-size: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 14px;
}

.menu-section{
    background-image: url(./3_menu/section_our_menu_bg.jpg);
    background-size: cover;
    background-position: 0%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 120px;
    padding-bottom: 120px;
    padding-top: 120px;
}

.sec_main{
    text-align: center;
}

.menu-pic{
    height: 352px;
    width: 352px;
}

.bowl-left{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-left: 160px;
    margin-right: 160px;
}

.bowl-right{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 160px;
    margin-right: 160px;
}

.dish-left{
    font-family: 'Economica-bold';
    font-weight: 700;
    font-size: 56px;
    margin-left: 80px;
    margin-bottom: 8px;
}

.dish-right{
    font-family: 'Economica-bold';
    font-weight: 700;
    font-size: 56px;
    margin-right: 80px;
    margin-bottom: 8px;
}

.dish-description{
    font-family: 'Raleway-bold';
    font-weight: 700;
    font-size: 32px;
    color: #675E54;
    margin-top: 8px;
}

.padding-dish{
    padding-right: 260px;
}

.contact-main{
    text-align: center;
}

.map-marker{
    height: 24px;
    width: 24px;
}

.address{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Raleway-regular';
    font-size: 24px;
    padding-bottom: 64px;
}

footer{
    background-color: #0A141E;
    height: 144px;
    max-width: 100%;
}


.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 144px;
    max-width: 100%;
}

.sakura-footer{
    height: 44px;
    margin-left: 160px;
}

.socialmedia{
    display: flex;
    justify-content: flex-end;
    margin-right: 160px;
}

.socialmedia-pic{
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 40px;
    padding-left: 15px;
}

.googlemaps{
    height: 400px;
    width: 99%;
    display: flex;
    align-items: center;
}

@media(max-width: 1135px){
    .bowl-left{
        flex-direction: column;
        margin: 0;
        gap: 15px;
    }
    .bowl-right{
        flex-direction: column;
        margin: 0;
        gap: 15px;
    }
    .dish-left{
        padding-bottom: 40px;
        margin: 0;
    }
    .dish-right{
        padding-bottom: 40px;
        margin: 0;
    }
    .h2{
    padding-bottom: 40px;
    }
}

@media(max-width: 1035px){
    .setting-link{
        display: none;
    }
    .nav-section{
        margin: 0;
    }
}

@media(max-width: 900px){
    .order-section{
        flex-direction: column;
        height: 0;
        margin: 0;
        padding-bottom: 800px;
        gap: 30px
    }
}

@media(max-width: 805px){
    .sakura-footer{
        margin: 0;
    }
    .socialmedia{
        margin: 0;
    }
    .footer-section{
        justify-content: space-evenly;
    }
}

@media(max-width: 660px){
    .navigation{
        flex-direction: column;
        padding-left: 0;
        gap: 30px;
    }
}

@media(max-width: 570px){
    .padding-dish{
        padding-right: 20px;
    }
    .dish-left{
        text-align: center;
    }
    .dish-right{
        text-align: center;
    }
    .footer-section{
        flex-direction: column;
        gap: 20px;
    }
    .socialmedia{
        gap: 20px;
    }
}

@media(max-width: 450px){
    h2{
        font-size: 48px;
        padding-bottom: 25px;
    }
    .address-txt{
        font-size: 20px;
    }
}

@media(max-width: 420px){
    .main{
        font-size: 60px;
    }
    .menu-pic{
        height: 80%;
        width: 80%;
    }
}

@media(max-width: 380px){
    .address{
        flex-direction: column;
        text-align: center;
    }
}

@media(max-width: 350px){
    .sakura-footer{
        height: 40px;
    }
}