@font-face {
  font-family: economica-bold;
  src: url(./fonts/Economica-Bold.ttf)
}

@font-face {
  font-family: raleway-regular;
  src: url(./fonts/Raleway-Regular.ttf)
}

@font-face {
  font-family: raleway-bold;
  src: url(./fonts/Raleway-Bold.ttf)
}

body{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.sub-main{
    font-family: 'Raleway-regular';
    font-size: 24px;
    margin-bottom: 100px;
}

.main{
    font-family: 'Raleway-bold';
    font-weight: 700;
    font-size: 96px;
    margin: 0;
}

h2{
    font-family: 'Raleway-bold';
    font-weight: 700;
    font-size: 80px;
    color: #9F0908;
    text-align: center;
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: url(./1_header/hero_bg.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    max-width: 100%;
    text-align: center;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    font-family: 'Raleway-regular';
    font-size: 24px;
}

.flower{
    width: 64px;
    height: 64px;
}

.navigation{
    position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	right: 0;
	top: 0;
	left: 0;
    height: 100px;
    font-family: Raleway regular;
	font-size: 24px;
    color: white;
    padding-left: 20px;
    margin-left: 160px;
    margin-right: 160px;
}

.setting-link{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.setting-link:hover{
    color: #9F0908;
    text-decoration: underline;
}

.phone-btn{
    border: solid 2px;
    border-radius: 10px;
    background-color: #9F0908;
    color: white;
    padding: 8px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone-btn:hover{
    background-color: #cf0a0a;
}

.phone{
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-to-order{
    max-width: 100%;
}

.img-placing-hto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hto-txt{
    margin-top: 120px;
    margin-bottom: 64px;
}

.hto-pics{
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    right: 0;
	top: 0;
	left: 0;
    margin-top: 164px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 120px;
}

.order-section-txt{
    font-family: 'Economica-bold';
    font-weight: 700;
    font-size: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 14px;
}

.menu-section{
    background-image: url(./3_menu/section_our_menu_bg.jpg);
    background-size: cover;
    background-position: 0%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 120px;
    padding-bottom: 120px;
    padding-top: 120px;
}

.sec_main{
    text-align: center;
}

.menu-pic{
    height: 352px;
    width: 352px;
}

.bowl-left{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-left: 160px;
    margin-right: 160px;
}

.bowl-right{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 160px;
    margin-right: 160px;
}

.dish-left{
    font-family: 'Economica-bold';
    font-weight: 700;
    font-size: 56px;
    margin-left: 80px;
    margin-bottom: 8px;
}

.dish-right{
    font-family: 'Economica-bold';
    font-weight: 700;
    font-size: 56px;
    margin-right: 80px;
    margin-bottom: 8px;
}

.dish-description{
    font-family: 'Raleway-bold';
    font-weight: 700;
    font-size: 32px;
    color: #675E54;
    margin-top: 8px;
}

.padding-dish{
    padding-right: 260px;
}

.contact-main{
    text-align: center;
}

.map-marker{
    height: 24px;
    width: 24px;
}

.address{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Raleway-regular';
    font-size: 24px;
    padding-bottom: 64px;
}

footer{
    background-color: #0A141E;
    height: 144px;
    max-width: 100%;
}

.footer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.sakura-footer{
    height: 44px;
    margin-left: 160px;
}

.mobile-logo{
    height: 40px;
    width: 40px;
    display: none;
}

.socialmedia{
    display: flex;
    justify-content: flex-end;
    margin-right: 160px;
}

.socialmedia-pic{
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 40px;
    padding-left: 15px;
}

.googlemaps{
    height: 400px;
    width: 99%;
    display: flex;
    align-items: center;
}

@media(max-width: 1280px){
    .setting-link{
        display: none;
    }
    .navigation{
        margin-left: 24px;
        margin-right: 24px;
        height: 112px;
    }
    .phone-btn{
        font-size: 20px;
    }
    .main{
        font-size: 72px;
    }
    .sub-main{
        font-size: 20px;
    }
    .hto-txt{
        margin-top: 96px;
        margin-bottom: 48px;
        font-size: 64px;
    }
    .hto-pics{
        width: 112px;
        height: 112px;
    }
    .order-section-txt{
        font-size: 32px;
        margin-top: 8px;
    }
    .order-section{
        margin-top: 96px;
        margin-bottom: 96px;
        margin-left: 24px;
        margin-right: 24px
    }
    .menu-section{
        padding-top: 96px;
        padding-bottom: 96px;
        gap: 32px;
        margin-bottom: 0;
        margin-top: 0;
    }
    h2{
        margin-bottom: 12px;
        font-size: 64px;
    }
    .bowl-left{
        margin-left: 24px;
        margin-right: 24px;
    }
    .dish-left{
        margin-left: 24px;
        font-size: 32px;
    }
    .bowl-right{
        margin-left: 24px;
        margin-right: 24px; 
    }
    .dish-right{
        margin-right: 24px;
        font-size: 32px;
    }
    .dish-description{
        font-size: 24px;
    }
    .padding-dish{
        padding-right: 80px;
    }
    .contact-main{
        margin-top: 96px;
        margin-bottom: 0;
        font-size: 64px;
    }
    .address{
        font-size: 20px;
    }
    .socialmedia{
        margin-right: 24px;
    }
    .sakura-footer{
        margin-left: 24px;
    }
    .mobile-logo{
        margin-right: 24px;
    }
}

@media(max-width: 767px){
    .navigation{
    margin-left: 16px;
    margin-right: 16px;
    height: 64px;
    }
    .phone-btn{
        font-size: 16px;
    }
    .main{
        font-size: 44px;
    }
    .sub-main{
        font-size: 16px;
    }
    .hto-txt{
        margin-top: 72px;
        margin-bottom: 0;
        font-size: 40px;
    }
    .hto-pics{
        width: 112px;
        height: 112px;
    }
    .order-section{
        margin-top: 32px;
        margin-bottom: 72px;
        margin-left: 16px;
        margin-right: 16px;
        flex-direction: column;
        gap: 32px;
        
    }
    .menu-section{
        padding-top: 72px;
        padding-bottom: 72px;
        gap: 32px;
        margin-bottom: 0;
        margin-top: 0;
    }
    h2{
        margin-bottom: 8px;
        font-size: 40px;
    }
    .bowl-left{
        margin-left: 16px;
        margin-right: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    .dish-left{
        margin-left: 0;
        font-size: 32px;
    }
    .bowl-right{
        margin-left: 16px;
        margin-right: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    .dish-right{
        margin-right: 0;
        font-size: 32px;
    }
    .dish-description{
        font-size: 24px;
    }
    .padding-dish{
        padding-right: 80px;
    }
    .contact-main{
        margin-top: 72px;
        margin-bottom: 0;
        font-size: 64px;
    }
    .address{
        font-size: 20px;
        padding-bottom: 40px;
    }


    .socialmedia{
        margin-right: 16px;
    }
    .socialmedia-pic{
        height: 32px;
        width: 32px;
    }
    .sakura-footer{
        margin-left: 16px;
        display: none;
    }
    .mobile-logo{
        margin-left: 16px;
        display: flex;
    }
}

@media(max-width: 390px){
    .menu-pic{
        height: 280px;
        width: 280px;
    }
    .address{
        font-size: 16px;
    }
}